
  .categorySection{
    align-items:center;
    margin:2rem;
    .categoryHeader{
      text-align:start;
      width:100%;
      margin:2rem 2rem;
      border-bottom: 0.1px dotted #00657c;
      display:flex;
      justify-content: space-between;
      align-items: flex-start;
      
      h3{
        margin:auto;
        color:#00657c;
        font-weight: 700;
        font-family:'Courier New', Courier, monospace

    }
  }

  }