.card.productCard{
    border-radius: 10px;
    min-width: 250px;
}
.productCard{
    margin:0 10rem;
    margin-left: 2rem;
    width:20vw;
    height:40vh;
    min-width: 300px;
    min-height: 400px;
    
    box-shadow: 0px 0px 6px 1px rgba(204, 204, 204, 0.74);
    cursor:pointer;
    .productImage{
        width:100%; 
        height:30vh;
        margin:auto;
        max-width:300px; 
        border-radius:10px;}

    .productCardBody {
        height: 5rem;
        max-height: 150px;
        overflow-y: scroll; 
    }
    .productCardFooter{
        display: flex;
        width:100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        a{
            padding: 5px;
            font-size: 14px;
            text-decoration: none;
            color:white;
            background-color:#00695c;
            border: 1px solid #00695c;
            border-radius: 10px;
            svg{
                vertical-align:auto;
            }
            .buttonIcon{
                margin-right:0.2rem;
            }

        }
        a.inverse{
            color:#00695c;
            background-color:white;
            border: 1px solid #00695c;
        }
        a.inCart{
            background-color:#22b4a3;
            border-color:#22b4a3;
        }
        
    }
}

@media screen and (max-width:850px){
    .productCard{
        margin:0;
        width:15vw;
        min-width: 200px;
    }
}
@media screen and (max-width:700px)and(  min-width:581px){
    .card.productCard{
        min-width:220px;
    }
    .productCard{
        margin:auto;
        width:15vw;
        min-width: 20px;
    }
}
@media screen and (max-width:580px){
    .card.productCard{
        min-width:150px;
    }
    .productCard{
        margin:auto;
        width:20vw;
        .productImage{
            max-width:none;
        }

    }
}
@media screen and (max-width:470px){
    .card.productCard{
        min-width:150px;
    }
    .productCard{
        margin:auto;
        width:60vw;
        .productImage{
            max-width:none;
        }

    }
}
