.home{
    padding:2rem;
    display:flex;
    flex-direction:column;
    height:92vh;
    max-height:92vh;
    overflow-y: scroll;
    ::-webkit-scrollbar {
        display: none;
      }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    .categorySection{
      align-items:center;
      .categoryHeader{
        text-align: start;
        width:100%;
        margin:1rem 2rem ;
        border-bottom: 3px solid grey;
       
  
      }
      .row{
        overflow-x: auto;
      }


    }
    
}